[[mgr.prepend_keymap]]
on = "F"
run = "plugin jump-to-char"
desc = "Jump to char"

[[mgr.prepend_keymap]]
on = "<C-d>"
run = "plugin diff"
desc = "Diff the selected with the hovered file"

[[mgr.prepend_keymap]]
on = [".", "s"]
run = "plugin what-size"
desc = "Calc size of selection or cwd"

[[mgr.prepend_keymap]]
desc = "Start bunny.yazi"
on = ";"
run = "plugin bunny"

# Y:
# # Optionally, add another keymap to immediately fuzzy search bookmarks
# [[mgr.prepend_keymap]]
# desc = "Start bunny.yazi fuzzy search"
# on = "'"
# run = "plugin bunny fuzzy"

# B: MOUNTING  ============================================================================================================================
# This will remount device under cwd (e.g. cwd = /run/user/1000/gvfs/DEVICE_1/FOLDER_A, device mountpoint = /run/user/1000/gvfs/DEVICE_1)
# or this if you want to unmount and eject device. Ejected device can safely be removed.
# Ejecting a device will unmount all paritions/volumes under it.
# Fallback to normal unmount if not supported by device.
# Also support force unmount/eject.
# force = true -> Ignore outstanding file operations when unmounting or ejecting
# Add|Edit|Remove mountpoint: smb, sftp, ftp, nfs, dns-sd, dav, davs, dav+sd, davs+sd, afp, afc, sshfs
# Read more about the schemes here: https://wiki.gnome.org/Projects(2f)gvfs(2f)schemes.html
# For example: smb://user@192.168.1.2/share, smb://WORKGROUP;user@192.168.1.2/share, sftp://user@192.168.1.2/, ftp://192.168.1.2/
# - Scheme/Mount URIs shouldn't contain password.
# - Google Drive, One drive are mounted automatically via GNOME Online Accounts (GOA). Avoid adding them. Use GOA instead: ./GNOME_ONLINE_ACCOUNTS_GOA.md
# - MTP, GPhoto2, AFC, Hard disk/drive are listed automatically. Avoid adding them
# Edit or remove a GVFS mount URI will clear saved passwords for that mount URI.
# Jump

# gvfs plugin
[[mgr.prepend_keymap]]
on = ["M", "m"]
run = "plugin gvfs -- select-then-mount"
desc = "Select device then mount"
# run = "plugin gvfs -- select-then-mount --jump"  #or this if you want to jump to mountpoint after mounted
# desc = "Select device to mount and jump to its mount point"

[[mgr.prepend_keymap]]
on = ["M", "R"]
run = "plugin gvfs -- remount-current-cwd-device"
desc = "Remount device under cwd"

[[mgr.prepend_keymap]]
on = ["M", "u"]
run = "plugin gvfs -- select-then-unmount"
desc = "Select device then unmount"

[[mgr.prepend_keymap]]
on = ["M", "E"]
run = "plugin gvfs -- select-then-unmount --eject"
desc = "Select device then eject"

[[mgr.prepend_keymap]]
on = ["M", "U"]
run = "plugin gvfs -- select-then-unmount --eject --force"
desc = "Select device then force to eject/unmount"


[[mgr.prepend_keymap]]
on = ["M", "a"]
run = "plugin gvfs -- add-mount"
desc = "Add a GVFS mount URI"

[[mgr.prepend_keymap]]
on = ["M", "e"]
run = "plugin gvfs -- edit-mount"
desc = "Edit a GVFS mount URI"

[[mgr.prepend_keymap]]
on = ["M", "r"]
run = "plugin gvfs -- remove-mount"
desc = "Remove a GVFS mount URI"


[[mgr.prepend_keymap]]
on = ["g", "m"]
run = "plugin gvfs -- jump-to-device"
desc = "Select device then jump to its mount point"

[[mgr.prepend_keymap]]
on = ["`", "`"]
run = "plugin gvfs -- jump-back-prev-cwd"
desc = "Jump back to the position before jumped to device"

# B: MOUNTING End. ============================================================================================================================

# B: Taging  ============================================================================================================================
#─────────────────────────── TOGGLE TAG(S) ────────────────────────────
[[mgr.prepend_keymap]]
on = ["T", "t", "k"]
run = "plugin simple-tag -- toggle-tag"
desc = "Toggle a tag (press any key)"

# NOTE: For key=" (Quotation mark), then use key=\" (Backslash + Quotation mark) instead.
[[mgr.prepend_keymap]]
on = ["T", "`", "`"]
run = "plugin simple-tag -- toggle-tag --keys=!1q"
desc = "Toggle tag(s) with fixed tag key(s) = (! and 1 and q)"
# run = "plugin simple-tag -- toggle-tag --keys=*"
# desc = "Toggle tag with fixed tag key = *"
# run = "plugin simple-tag -- toggle-tag --key=*"
# desc = "Toggle tag with fixed tag key = *"


#B:─────────────────────────── ADD TAG(S) ───────────────────────────────
# Add a tag (press any tag key)
# A tag hint window will show up.
# Simply press any new tag key to add to selected or hovered files/folders.

[[mgr.prepend_keymap]]
on = ["T", "t", "i"]
run = "plugin simple-tag -- toggle-tag --input"
desc = "Toggle tag(s) with value from (input box)"

[[mgr.prepend_keymap]]
on = ["T", "a", "k"]
run = "plugin simple-tag -- add-tag"
desc = "Add a tag (press any key)"


[[mgr.prepend_keymap]]
on = ["T", "a", "f"]
run = "plugin simple-tag -- add-tag --keys=!1q"
desc = "Add tag(s) with fixed tag keys = (! and 1 and q)"
# run = "plugin simple-tag -- add-tag --keys=*"
# desc = "Add tag with fixed tag key = *"
# run = "plugin simple-tag -- add-tag --key=*"
# desc = "Add tag with fixed tag key = *"

[[mgr.prepend_keymap]]
on = ["T", "a", "i"]
run = "plugin simple-tag -- add-tag --input"
desc = "Add tag(s) with value from (input box)"


# B:─────────────────────────── REMOVE/DELETE TAG(S) ───────────────────────────
# Remove a tag (press any tag key)
# A tag hint window will show up.
# Simply press any tag key to be removed from selected or hovered files/folders.

[[mgr.prepend_keymap]]
on = ["T", "d", "k"]
run = "plugin simple-tag -- remove-tag"
desc = "Remove a tag (press any key)"

# Fast Remove tag(s) with fixed keys=!1q. key=!1q tag=!1q or tags=!1q also work
[[mgr.prepend_keymap]]
on = ["T", "d", "f"]
run = "plugin simple-tag -- remove-tag --keys=!1q"
desc = "Remove tag(s) with fixed tag keys = (! and 1 and q)"

[[mgr.prepend_keymap]]
on = ["T", "d", "i"]
run = "plugin simple-tag -- remove-tag --input"
desc = "Remove tag(s) with value from (input box)"


# B:─────────────────────────── REPLACE ALL OLD TAG(S) WITH NEW TAG(S) ───────────────────────────
# Replace a tag (press any tag key)
# A tag hint window will show up.
# Simply press any new tag key for selected or hovered files/folders.
[[mgr.prepend_keymap]]
on = ["T", "r", "k"]
run = "plugin simple-tag -- replace-tag"
desc = "Replace with a new tag (press any key)"

# Fast Replace tag(s) with fixed keys=!1q. key=!1q tag=!1q or tags=!1q also work
[[mgr.prepend_keymap]]
on = ["T", "r", "f"]
run = "plugin simple-tag -- replace-tag --keys=!1q"
desc = "Replace tag(s) with fixed tag keys = (! and 1 and q)"

[[mgr.prepend_keymap]]
on = ["T", "r", "f"]
run = "plugin simple-tag -- replace-tag --keys=*"
desc = "Replace tag(s) with fixed tag key = *"

[[mgr.prepend_keymap]]
on = ["T", "r", "f"]
run = "plugin simple-tag -- replace-tag --key=*"
desc = "Replace tag(s) with fixed tag key = *"

# Replace tag(s) with value from input box.
# A tag hint window and an input box will show up.
# Simply input new tag key(s) for selected or hovered files/folders.
# Do not input any delimiter.
[[mgr.prepend_keymap]]
on = ["T", "r", "i"]
run = "plugin simple-tag -- replace-tag --input"
desc = "Replace tag(s) with value from (input box)"


#─────────────────────────── EDIT TAG(S) ───────────────────────────
# Edit a tag for hovered or selected files/folders
# An input box with current tagged keys and a tag hint window will show up for each hovered or selected files/folders.
# Simply edit tag key(s) for selected or hovered files/folders.
# If you cancel any input box, all changes will be discarded.
#
[[mgr.prepend_keymap]]
on = ["T", "e"]
run = "plugin simple-tag -- edit-tag "
desc = "Edit tag(s) (input box)"


#  ───────────────────────────── CLEAR TAG(S) ─────────────────────────────
# Clear all tags from selected or hovered files/folders
[[mgr.prepend_keymap]]
on = ["T", "c"]
run = "plugin simple-tag -- clear"
desc = "Clear all tags from selected or hovered files"


#  ───────────────────────────── CHANGE UI ─────────────────────────────
# Switch tag indicator between icon > tag key > hidden.
# Useful when u don't remember the tag key
[[mgr.prepend_keymap]]
on = ["T", "u", "s"]
run = "plugin simple-tag -- toggle-ui"
desc = "Toggle tag indicator (icon > tag key > hidden)"

# Fixed tag indicator mode = hidden (Available modes: hidden|icon|text)
[[mgr.prepend_keymap]]
on = ["T", "u", "h"]
run = "plugin simple-tag -- toggle-ui --mode=hidden"
desc = "Hide all tags indicator"

#  ─────────────────────── FILTER FILES/FOLDERS BY TAGS: ───────────────────────
# Available filter modes:
# and → Filter files which contain all of selected tags (Default if mode isn't specified).
# or → Filter files which contain at least one of selected tags.

# Filter files/folders by tags

# Filter files/folders by a tag (press any tag key)
# A tag hint window will show up.
# Simply press any new tag key to filter files/folders containing that tag in current directory.
[[mgr.prepend_keymap]]
on = ["T", "f"]
run = "plugin simple-tag -- filter"
desc = "Filter files/folders by a tag (press any key)"

# Fast Filter files/folders with fixed keys=!1q. key=!1q tag=!1q or tags=!1q also work
# { on = [ "t", "f" ], run = "plugin simple-tag -- filter --key=!", desc = "Filter files/folders by a fixed tag = !" },
# { on = [ "t", "f" ], run = "plugin simple-tag -- filter --keys=!1q", desc = "Filter files/folders by multiple fixed tag(s) (! and 1 and q)" },

# Filter files/folders by tag(s) with value from input box.
# An input box and a tag hint window will show up.
# Simply input tag key(s) to filter files/folders of current directory.
# Do not input any delimiter.
# For example: Input value or --keys=!1q -> filter any files/folders contain all of these tags (! and 1 and q) in current directory.
[[mgr.prepend_keymap]]
on = ["T", "F"]
run = "plugin simple-tag -- filter --input"
desc = "Filter files/folders by tag(s) (input box)"
# run = "plugin simple-tag -- filter --input --mode=or"
# desc = "Filter files/folders by contain tags (input box)"

# B:  ─────────────────────── VISUAL SELECT FILES/FOLDERS BY TAGS: ───────────────────────
# Avaiable selection actions:
# replace → Replaces the current selection list with files/folders that have the selected tag.
# unite → Combines the currently selected files/folders with those that have the selected tag.
# intersect → Keeps only the files/folders that are present in both the current selection and the tagged items.
# subtract → Deselects files/folders that have the selected tag.
# exclude → Keeps only the files/folders that do not have the selected tag.
# undo → Undos or redoes the last selection action.

# which_key will popup to choose selection mode
# And a tag hint window will show up.
# Simply select a selection mode then press any tag key to select files/folders
[[mgr.prepend_keymap]]
on = ["T", "s", "t"]
run = "plugin simple-tag -- toggle-select"
desc = "Select a selection action then select a tag key (toggle-select)"
# fixed tag(s). --keys=!1q or --key=!1q or --tag=!1q or --tags=!1q. They are the same.
[[mgr.prepend_keymap]]
on = ["T", "s", "t"]
run = "plugin simple-tag -- toggle-select --keys=!1q"
desc = ""

# Run action on files/folders by a tag.
# A tag hint window will show up.
# Simply press any tag key to do the folowing action:
[[mgr.prepend_keymap]]
on = ["T", "s", "r"]
desc = "replace-select"
run = "plugin simple-tag -- replace-select"

[[mgr.prepend_keymap]]
on = ["T", "s", "u"]
run = "plugin simple-tag -- unite-select"
desc = "unite-select"

[[mgr.prepend_keymap]]
on = ["T", "s", "i"]
run = "plugin simple-tag -- intersect-select"
desc = "intersect-select"

[[mgr.prepend_keymap]]
on = ["T", "s", "s"]
run = "plugin simple-tag -- subtract-select"
desc = "subtract-select"

[[mgr.prepend_keymap]]
on = ["T", "s", "e"]
run = "plugin simple-tag -- exclude-select"
desc = "exclude-select"
# Run action on files/folders by fixed tag(s). --keys=!1q or --key=!1q or --tag=!1q or --tags=!1q. They are the same.
# run = "plugin simple-tag -- replace-select --keys=!1q"
# desc = "Replaces the current selection list with files/folders that have (! and 1 and q) tag(s)"

[[mgr.prepend_keymap]]
on = ["T", "s", "R"]
run = "plugin simple-tag -- replace-select --input"
desc = "replace-select --input"

[[mgr.prepend_keymap]]
on = ["T", "s", "U"]
run = "plugin simple-tag -- unite-select --input"
desc = "unite-select --input"

[[mgr.prepend_keymap]]
on = ["T", "s", "I"]
run = "plugin simple-tag -- intersect-select --input"
desc = "intersect-select --input"

[[mgr.prepend_keymap]]
on = ["T", "s", "S"]
run = "plugin simple-tag -- subtract-select --input"
desc = "subtract-select --input"

[[mgr.prepend_keymap]]
on = ["T", "s", "E"]
run = "plugin simple-tag -- exclude-select --input"
desc = "exclude-select --input"

# it also support --mode=or when using with --input or --keys=!1q or --key=!1q or --tag=!1q or --tags=!1q
[[mgr.prepend_keymap]]
on = ["T", "s", "R"]
run = "plugin simple-tag -- replace-select --input --mode=or"
desc = "replace-select --input --mode=or"
# run = "plugin simple-tag -- replace-select --keys=!1q --mode=or"
# desc = "replace-select --keys=!1q --mode=or"


# Undo/Redo selection (only works after using 5 modes above)
[[mgr.prepend_keymap]]
on = ["T", "s", "u"]
run = "plugin simple-tag -- undo-select"
desc = "Undos/Redos the last selection action"

# B: Taging End. ============================================================================================================================
