
[[keymaps.files]]
on = "e"
run = "open --with edit_nvim"
desc = "Edit in Neovim"

[[keymaps.files]]
on = "E"
run = "open --with edit_pinta"
desc = "Edit in Pinta"

[[mgr.prepend_keymap]]
on   = "F"
run  = "plugin jump-to-char"
desc = "Jump to char"

[[mgr.prepend_keymap]]
desc = "Start bunny.yazi"
on = ";"
run = "plugin bunny"

[[mgr.prepend_keymap]]
  desc = "Open SSHFS options" 
  on = ["M","s"]
  run = "plugin sshfs -- menu"



# [[mgr.prepend_keymap]]
# on = "<C-d>"
# run = "plugin diff"
# desc = "Diff the selected with the hovered file"

# [[mgr.prepend_keymap]]
# on = [".", "s"]
# run = "plugin what-size"
# desc = "Calc size of selection or cwd"




# R: image layout switching
# [[mgr.prepend_keymap]]
# desc = "Normal layout"
# on = "i"
# run = "plugin bunny"
#
# [[mgr.prepend_keymap]]
# desc = "Fast image preview"
# on = "I"
# run = "layout preview_small"

# [mgr]
# prepend_keymap = [
#   { on = ["p"], run = "layout default", desc = "Normal layout" },
#   { on = ["P"], run = "layout preview_small", desc = "Fast image preview" },
# ]


# Y:
# # Optionally, add another keymap to immediately fuzzy search bookmarks
# [[mgr.prepend_keymap]]
# desc = "Start bunny.yazi fuzzy search"
# on = "'"
# run = "plugin bunny fuzzy"

# B: MOUNTING  ============================================================================================================================
# This will remount device under cwd (e.g. cwd = /run/user/1000/gvfs/DEVICE_1/FOLDER_A, device mountpoint = /run/user/1000/gvfs/DEVICE_1)
# or this if you want to unmount and eject device. Ejected device can safely be removed.
# Ejecting a device will unmount all paritions/volumes under it.
# Fallback to normal unmount if not supported by device.
# Also support force unmount/eject.
# force = true -> Ignore outstanding file operations when unmounting or ejecting
# Add|Edit|Remove mountpoint: smb, sftp, ftp, nfs, dns-sd, dav, davs, dav+sd, davs+sd, afp, afc, sshfs
# Read more about the schemes here: https://wiki.gnome.org/Projects(2f)gvfs(2f)schemes.html
# For example: smb://user@192.168.1.2/share, smb://WORKGROUP;user@192.168.1.2/share, sftp://user@192.168.1.2/, ftp://192.168.1.2/
# - Scheme/Mount URIs shouldn't contain password.
# - Google Drive, One drive are mounted automatically via GNOME Online Accounts (GOA). Avoid adding them. Use GOA instead: ./GNOME_ONLINE_ACCOUNTS_GOA.md
# - MTP, GPhoto2, AFC, Hard disk/drive are listed automatically. Avoid adding them
# Edit or remove a GVFS mount URI will clear saved passwords for that mount URI.
# Jump

# gvfs plugin
[[mgr.prepend_keymap]]
on = ["M", "m"]
run = "plugin gvfs -- select-then-mount"
desc = "Select device then mount"
# run = "plugin gvfs -- select-then-mount --jump"  #or this if you want to jump to mountpoint after mounted
# desc = "Select device to mount and jump to its mount point"

[[mgr.prepend_keymap]]
on = ["M", "R"]
run = "plugin gvfs -- remount-current-cwd-device"
desc = "Remount device under cwd"

[[mgr.prepend_keymap]]
on = ["M", "u"]
run = "plugin gvfs -- select-then-unmount"
desc = "Select device then unmount"

[[mgr.prepend_keymap]]
on = ["M", "E"]
run = "plugin gvfs -- select-then-unmount --eject"
desc = "Select device then eject"

[[mgr.prepend_keymap]]
on = ["M", "U"]
run = "plugin gvfs -- select-then-unmount --eject --force"
desc = "Select device then force to eject/unmount"


[[mgr.prepend_keymap]]
on = ["M", "a"]
run = "plugin gvfs -- add-mount"
desc = "Add a GVFS mount URI"

[[mgr.prepend_keymap]]
on = ["M", "e"]
run = "plugin gvfs -- edit-mount"
desc = "Edit a GVFS mount URI"

[[mgr.prepend_keymap]]
on = ["M", "r"]
run = "plugin gvfs -- remove-mount"
desc = "Remove a GVFS mount URI"


[[mgr.prepend_keymap]]
on = ["g", "m"]
run = "plugin gvfs -- jump-to-device"
desc = "Select device then jump to its mount point"

[[mgr.prepend_keymap]]
on = ["`", "`"]
run = "plugin gvfs -- jump-back-prev-cwd"
desc = "Jump back to the position before jumped to device"

# B: MOUNTING End. ============================================================================================================================


